.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.pagination
{
  color:white;
  margin:0px auto !important;
  padding:5px;
  font-size: 20px;
}
.previous .pagination__link, .next .pagination__link{
  color:white;
  background-color:#0d6efd;
  margin: 5px;
  padding:5px;
  text-decoration: none;
}
.page-number {
  background-color: #0d6efd;
  color:white;
  margin: 5px;
  padding:5px;
  text-decoration: none;
}
.paginationActive .page-number {
  background-color: #db8e1f;
  /* border:3px solid #8494ab; */
}
.pagination__disable .pagination__link {
  color:#444b4f;
  background-color: #9b9ea0;
  pointer-events: none;
}